In [2]:
#chapter 2
#example of constants

print(123) #int

print(98.6) #float

print('Hello world') #string

123
98.6
Hello world

In [5]:
#variables

x = 12.2
y = 14

z = x+y
print(z)

#x,y,z are variables

26.2

In [6]:
#What are these bits of code doing example(1)?

x1q3z9ocd = 35.0 
x1q3z9afd = 12.50
x1q3p9afd = x1q3z9ocd * x1q3z9afd
print(x1q3p9afd

437.5

In [8]:
#What are these bits of code doing example(2)?

a = 35.0 
b = 12.50 
c = a * b 
print(c)

437.5

In [9]:
#What are these bits of code doing example(3)?

hours = 35.0 
rate = 12.50 
pay = hours * rate 
print(pay)

437.5

In [10]:
#sentences or lines

x = 2 #Assignment statement, where x is variable, = is operator, 2 is constant.
    
x = x + 2 #Assignment with expression, where x is variable, =,+ are operator, 2 is constant and x+2 is expression

print(x) #Print statement, where print() is a function

4

In [12]:
#assignment statement
x = 3.9 * x * ( 1 - x )

print(x)

-8724.455999999998

In [13]:
#numeric expressions
#addition

xx = 2
xx = xx + 2
print(xx)

4

In [14]:
#numeric expressions
#remainder

jj = 23
kk = jj % 5
print(kk)

3

In [16]:
#numeric expressions
#multiplication

yy = 440 * 12
print(yy)

print(4 ** 3)

5280
64

In [17]:
#numeric expressions
#division

zz = yy / 1000
print(zz)

5.28

In [19]:
#operator precedence

#example1
x= 1 + 2 * 3 - 4 / 5 ** 6 
print(x)

#example2
x = 1 + 2 ** 3 / 4 * 5
print(x)

6.999744
11.0

In [21]:
#addition of numbers
ddd = 1 + 4
print(ddd)

#concatenate strings
eee = 'hello ' + 'there'
print(eee)

5
hello there

In [26]:
#type
eee = 'hello ' + 'there'
eee = eee + 1

#cannot “add 1” to a string

TypeError: can only concatenate str (not "int") to str

In [32]:
#several type of numbers

xx = 1
type (xx) #int

temp = 98.6
type(temp) #float

type(1) #int

type(1.0) #float

float

In [36]:
#type conversions

print(float(99) + 100)

i = 42
type(i)
f = float(i) #the integer is implicitly converted to a float
print(f)

type(f)

199.0
42.0

float

In [37]:
#Integer division produces a floating point result

print(10 / 2)

print(9 / 2)

print(99 / 100)

print(10.0 / 2.0)

print(99.0 / 100.0)

5.0
4.5
0.99
5.0
0.99

In [38]:
#strings conversion

sval = '123'
type(sval)
print(sval + 1) #cannot add 1 to a string

TypeError: can only concatenate str (not "int") to str

In [41]:
 ival = int(sval)
type(ival)

print(ival + 1)
124
nsv = 'hello bob'
niv = int(nsv)

124

ValueError: invalid literal for int() with base 10: 'hello bob'

In [42]:
#input from the user

nam = input('Who are you? ')
print('Welcome', nam)

Who are you? hamda
Welcome hamda

In [44]:
#converting user input

inp = input('Europe floor?')
usf = int(inp) + 1
print('US floor', usf)

Europe floor?7
US floor 8

In [45]:
# Get the name of the file and open it
name = input('Enter file:')
handle = open(name, 'r')

Enter file:MS Thesis

FileNotFoundError: [Errno 2] No such file or directory: 'MS Thesis'

In [47]:
# Count word frequency
counts = dict()
for line in handle:
    words = line.split()
    for word in words:
        counts[word] = counts.get(word,0) + 1

NameError: name 'handle' is not defined

In [50]:
# Find the most common word
bigcount = None
bigword = None
for word,count in counts.items():
    if bigcount is None or count > bigcount:
        bigword = word
        bigcount = count

None None

In [49]:
# All done
print(bigword, bigcount)

None None

In [52]:
#exercise
#Write a program to prompt the user for hours and rate per hour to compute gross pay
#Enter Hours: 35, Enter Rate: 2.75, Pay: 96.25

hours = 35
rate = 2.75

gross_pay = hours * rate
print(gross_pay)

96.25